<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>File Uploader - coligo.io</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div id="wrapper">
    <div class="container">
        <div class="row">
            <div id="content">

                <h1 id="headline">Tamedia banner creator</h1>

                <div id="sidebar" class="templateHolder col-sm-4">
                    <div></div>
                    SIDEBAR
                </div>
                <div id="sidebar" class="templateHolder col-sm-4">
                    <div></div>
                    SIDEBAR
                </div>
                <div id="sidebar" class="templateHolder col-sm-4">
                    <div></div>
                    SIDEBAR
                </div>
                <br class="clear">
                <button class="btn btn-primary btn-block" id="create">CREATE</button>

            </div>
        </div>
    </div>
</div>


<div id="loading-image">

    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>

</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>
</body>
</html>
